#container
{
	max-width:820px;
	margin:0 auto;
	padding-bottom:50px;
    width: 60%; 
    margin:0 auto; 
    display: block; 
}

#container table {margin:0 auto;}

#table tr {margin:1000px;}

#indexTiles {padding:1px;}

#detailForm table
{
	margin-top:-150px;

}

#Forms
{
	float:left;
}

.Designs
{
	width:800px;
	text-align: center;
}

.Designs td
{
	background-color:#BABABA;
}

#pages
{
	margin-right: auto;
	margin-left: auto;
}

#pageControl
{
	text-align: center;
}